{% extends 'base.html.twig' %}

{% block body %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col">Age </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"> <a href="{{"app_main"}}"> {{user.id}} </a></th>
      <th scope="row">{{user.firstname}}</th>
      <th scope="row">{{user.lastname}}</th>
      <th scope="row">{{user.age}}</th>
    </tr>
  </tbody>

{% endblock %}
